body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Navigation styles */
nav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.5s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

nav li {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    text-align: left;
    border-bottom: 1px solid #444;
}

nav a:hover {
    background-color: #555;
}

/* Main content styles */
.main {
    margin-left: 250px;
    padding: 100px;
}

/* Form styles */
form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

form:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 8px;
    color: black;
    font-weight: bold;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color 0.3s;
}

input[type="time"] {
    height: 40px;
}

button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    background-color: #1d708a;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #31b0d5;
}

#remarksSection {
    display: none;
    margin-top: 16px;
}

#remarksSection label {
    color: #dc3545;
    font-weight: bold;
}

#remarksSection textarea {
    border: 1px solid #dc3545;
    border-radius: 4px;
    transition: border-color 0.3s;
}

#remarksSection textarea:focus {
    border-color: #dc3545;
}

@media screen and (max-width: 768px) {
    nav {
        width: 100%;
        height: auto;
        position: relative;
    }

    .main {
        margin-left: 0;
    }
}